:root {
    --grey: #545F66;
    --light: #e9fafa;
    --blue: #85C7F2;
    --green: #8FD5A6;
    --pink: #F92A82;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--light);
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
}

.heading {
    border-bottom: 5px solid var(--blue);
    scroll-snap-align: start;
    font-size: 1.5rem;
    margin: 2rem auto;
}

.heading:nth-of-type(1) {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-image {
    width: 60vw;
    margin: 2rem auto;
}

.company-logo {
    width: 60vw;
    margin: 1em auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.school-tile {
    border: 5px solid var(--grey);
    border-radius: 20px;
    background-color: var(--green);
    margin: 1em auto;
    padding: 1rem;
    width: 80vw;
    text-align: center;
    scroll-snap-align: start;
}

.cert-tile {
    border: 5px solid var(--grey);
    border-radius: 20px;
    background-color: var(--pink);
    margin: 1em auto;
    padding: 1rem;
    width: 80vw;
    text-align: center;
    scroll-snap-align: start;
}

.misc-tile {
    border: 5px solid var(--blue);
    border-radius: 20px;
    background-color: var(--grey);
    margin: 1em auto;
    padding: 1rem;
    width: 80vw;
    text-align: center;
    scroll-snap-align: start;
}

.footer-section {
    height: 100vh;
    text-align: center;
}

/* Dev-specific */

.dev-section {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.dev-section ul, p, h3 {
    padding: 1rem;
    margin: auto;
}

.dev-tile-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dev-section:nth-of-type(odd) {
    background-color: var(--grey);
    color: var(--light)
}

.dev-section:nth-of-type(even) {
    background-color: var(--green);
    color: var(--grey);
}

.dev-section .heading {
    border-bottom: 5px solid var(--light);
}

.dev-section p:nth-of-type(1) {
    font-size: 2em;
    text-align: center
}

.dev-section ul li:nth-of-type(odd) {
    text-align: left;
}

.dev-section ul li:nth-of-type(even) {
    text-align: right;
}

#hi {
    font-size: 12em;
    text-align: center;
    padding: 50% 0;
}

.project-tile {
    width: 80%;
    margin: 1rem auto;
    font-size: 0.9em;
    border: 5px solid var(--light);
    background-color: var(--pink);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-tile img {
    width: 8rem;
    height: 8rem;
    margin: 0;
}

.project-tile a {
    color: var(--light);
    text-decoration: none;
    filter: grayscale(1);
}

.project-tile a:hover {
    filter: grayscale(0);
}