:root {
    --grey: #545F66;
    --light: #FFF8EB;
    --blue: #85C7F2;
    --green: #8FD5A6;
    --pink: #F92A82;
}

html {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--light);
}

.heading {
    border-bottom: 5px solid var(--blue);
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-logo {
    width: 80vw;
    margin: 1em auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.school-tile {
    border: 5px solid var(--grey);
    border-radius: 20px;
    background-color: var(--green);
    margin: 1em auto;
    padding: 1rem;
    width: 80vw;
    text-align: center;
}

.cert-tile {
    border: 5px solid var(--grey);
    border-radius: 20px;
    background-color: var(--pink);
    margin: 1em auto;
    padding: 1rem;
    width: 80vw;
    text-align: center;
}

.misc-tile {
    border: 5px solid var(--blue);
    border-radius: 20px;
    background-color: var(--grey);
    margin: 1em auto;
    padding: 1rem;
    width: 80vw;
    text-align: center;
}